/* .error-message {
    color: red;
} */

#output {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-align: right;
    background-color: #fff;
    /* border: 1px solid #000; */
    border-radius: 5px;
    width: 100 px;
    height: 48px;
    display: block;
}

/* .calculator-display {
    grid-column: 1 / -1;
  } */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    /* border: #000 1px solid; */
    /* fill */
    grid-gap: 10px;
    /* margin: 20px; */
    justify-content: center;
    grid-template-areas: 
    "seven eight nine plus" 
    "four five six minus" 
    "one two three multiply" 
    "zero dot backspace divide"
}

#backspace {
    grid-area: backspace;
    border-radius: 20px;
    background-color: lightblue;
}
#nine {
    grid-area: nine;
}  

#eight {
    grid-area: eight;
}

#seven {
    grid-area: seven;
}

#+ {
    grid-area: plus;
}

#six {
    grid-area: six;
}

#five {
    grid-area: five;
}

#four {
    grid-area: four;
}

#- {
    grid-area: minus;
}

#three {
    grid-area: three;
}

#two {
    grid-area: two;
}

#one {
    grid-area: one;
}

#* {
    grid-area: multiply;
}

#zero {
    grid-area: zero;
}

#computation {
    width: 340px;
    height: 80px;
    font-size: 25px;
}

#displayequals {
    width: 80px;
    height: 80px;
    background-color: #e0f0e3;
    border-radius: 20px;
}

#clearzy {
    width: 80px;
    height: 80px;
    background-color: lightblue;
    border-radius: 20px;
}
.grid > div {
    border: 1px solid #000;
}
.digitz {
    font-size: 30px;
    border-radius: 20px;
    background-color: bisque;
}

.operatormulti {
    font-size: 30px;
    border-radius: 20px;
    background-color: pink;
}

#form {
    /* margin: 20px; */
    display: grid;
    justify-content: center;

}

h1 {
    text-align: center;
}

#newgrid {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 10px;
}

#calc-box {
    grid: 1fr 1fr;
    border: 1px solid #000;
    width: 400px;
    height: 525px;
    /* center */
    /* margin: 425px auto; */
    background-color: lightgray;
    border-radius: 10px;
}

body {
    display: flex;
    justify-content: center;
    margin: 333px;
}