/* .error-message {
    color: red;
} */

#output {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-align: right;
    padding: 10px;
    background-color: #fff;
    /* border: 1px solid #000; */
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-display {
    grid-column: 1 / -1;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    /* border: #000 1px solid; */
    /* fill */
    grid-gap: 10px;
    margin: 20px;
    justify-content: center;
    grid-template-areas: 
    "seven eight nine plus" 
    "four five six minus" 
    "one two three multiply" 
    "zero zero dot divide"
}

#nine {
    grid-area: nine;
}  

#eight {
    grid-area: eight;
}

#seven {
    grid-area: seven;
}

#+ {
    grid-area: plus;
}

#six {
    grid-area: six;
}

#five {
    grid-area: five;
}

#four {
    grid-area: four;
}

#- {
    grid-area: minus;
}

#three {
    grid-area: three;
}

#two {
    grid-area: two;
}

#one {
    grid-area: one;
}

#* {
    grid-area: multiply;
}

#zero {
    grid-area: zero;
}

#computation {
    width: 340px;
    height: 80px;
    font-size: 23px;
    border: 0px solid #000;

}

#displayequals {
    width: 80px;
    height: 80px;
    background-color: pink;
}

#clearzy {
    width: 80px;
    height: 80px;
    background-color: lightblue;
}
.grid > div {
    border: 1px solid #000;
}
.digitz {
    font-size: 30px;
    border-radius: 5px;
    background-color: bisque;
}

.operatormulti {
    font-size: 30px;
    border-radius: 5px;
    background-color: pink;
}

#form {
    margin: 20px;
    display: grid;
    justify-content: center;

}

h1 {
    text-align: center;
}

#newgrid {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 10px;
}
